<!-- views/pages/addmember.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td  {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
</style>
<% include ../partials/digitalclock %>
<body class="container" onload="startTime()">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
        				<div>
                            <p><h5>Please! Scan Your TagID before you Insert it. Thank You.</h5></p>
                        </div>
                        <div>
                            <h5>
                            <p  type="text" id="">Fullname:</p>
                            <p  type="text" id="">Id CardNumber:</p>
                            <p  type="text" id="">BirthDate</p>
                            <p  type="text" id="">Address:</p>
                            <p  type="text" id=""></p>
                            </h5>    
                        </div>
                        <div>
                        </div>
                        <div>
                        <table id="list">
                            <tr>
                                <th>Date</th>
                                <th>Department</th>
                                <th>Symtoms</th>
                                <th>Solution</th>
                                <th>Status</th>
                            </tr>
                            <tr>    
                                <td>12 June 2017</td>
                                <td><input value="OPD"></input></td>
                                <td><input value="Headache"></input></td>
                                <td></td>
                                <td><Select>
                                    <option>Checking</option>
                                    <option>Wait</option>
                                    <option>Clear</option>
                                    </select></td>
                            </tr>
                        <table>
                        <div><button type="button" onclick="popup('Print Complete!')">Print Report</button></div>
                        </div> 
    
                        <script>
                            function popup(data){
                            alert(data);
                        }
                            
                            
                            function loadlist() {
                                var xhttp = new XMLHttpRequest();
                                xhttp.onreadystatechange = function() {
                                    if (this.readyState == 4 && this.status == 200) {
                                        var schedule = JSON.parse(this.responseText);
                                        //console.log(schedule);
                                        createElestatement(schedule);
                                    }
                                };
                                xhttp.open("GET", "/table", true);
                                xhttp.send();
                            }
                            
                            function createElestatement(statement){
                                var head = '<tr><th>Date</th><th>Symtoms</th><th>Solution</th><th>Status</th></tr>';
                                var data = '';
                                for (var i = 0 ; i<statement.length ; i++){
                                    var first = statement[i].time.split("T");
                                    var	second = first[1].split(".000Z");
                                    statement[i].time = first[0]+" "+second[0]
                                    var a_new = "<tr><td>"+statement[i].time+"</td><td>"+statement[i].symtom+"</td><td>"+statement[i].solution+"</td><td>"+statement[i].status+"</td></tr>";
                                    data = a_new + data ;                                    
                                }
                                data = head + data ;
                                document.getElementById("schedule").innerHTML = data;
                            }
                        </script>
                </div> 
            </div>	
        </div>
    </main>
    <footer><% include ../partials/footer %></footer>
</body>
</html>
