<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation" style="background:#000000;" >
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#" ><b><font color="white">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Hospital
            </a></font></b>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/" ><b><font color="white">Home</a></li></font></b>
            <li><a href="/add"><b><font color="white">Add New Member</a></li></font></b>
            <li><a href="/member"><b><font color="white">Search Member</a></li></font></b>
            <!-- <li><a href="/scan"><b><font color="white">Scan RFIDCard</a></li></font></b>
            <li><a href="/doctor"><b><font color="white">Doctor</a></li></font></b>-->
            <li><a href="/list"><b><font color="white">list</a></li></font></b>
            <li><a href="/listcard"><b><font color="white">card list</a></li></font></b>
            <li><a><b></a></li></b>
            <li><a><b></a></li></b>
            <li><a><b></a></li></b>
            <li><a><b></a></li></b>
            <li><a><b></a></li></b>
            <li><a><b></a></li></b>
            <li><a><b></a></li></b>
            <li><a><b></a></li></b>
            <li><a><b><font color="white">Localtime </font><font color="white" id="clock"></a></li></font></b>

        </ul>
    </div>
</nav>
